html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a,
button {
  transition: 0.3s ease-in;
  transition-property: color, background-color, opacity;
  svg {
    fill: currentColor;
  }
}
button,
.button {
  outline: none;
  padding: 0 15px;
  min-height: 36px;
  line-height: 36px;
  border-radius: 200px;
  cursor: pointer;
  border: 2px solid transparent;
  &:hover, &:active {
    color: $primary-color;
	 background: #E5F2F1;
	 border: 2px solid $primary-color;
  }
}

.ba-section-title {
  padding-bottom: 20px;
  padding-left: 20px;
  color: $black;
  @include breakpoint(large) {
    padding-bottom: 70px;
    padding-left: 0;
  }

  &--services {
    font-size: 20px;
    padding-bottom: 30px;
	 padding-top: 30px;
	 
    @include breakpoint(medium) {
      font-size: 93px;
      padding-bottom: 80px;
      line-height: 0.7;
    }

    @include breakpoint(large) {
      padding-top: 0;
    }
  }
}
img {
  max-width: 100%;
  height: auto;
}

.ba-section {
  padding: 20px 0;
  @include breakpoint(large) {
    padding-top: 70px;
  }

  &--services {
    padding-bottom: 30px;
    @include breakpoint(medium) {
      padding-bottom: 70px;
    }
  }
  &--my-profile {
	  padding: 17px 0;
    @include breakpoint(large) {
      padding-top: 83px;
      padding-bottom: 48px;
    }
  }
}


input[type="text"],
// input[type="checkbox"],
input[type="date"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea,
select {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in, box-shadow 0.2s ease-in;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.2;
  padding: 14px 0;

  margin-bottom: 5px;
  background: #e5f2f1;
}

::placeholder {
  color: #ccc;
  font-size: 14px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 0 0 #555;
  outline: none;
  background-color: #e5f2f1;
}

select:not(:placeholder-shown):valid {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

select:not(:placeholder-shown):invalid {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

textarea {
  resize: none;
}
.ba-float-label {
  position: relative;
}

.ba-float-label__input::placeholder {
  color: transparent;
}
.ba-float-label__placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  position: absolute;
  

  left: 0;
  bottom: 13px;
  transition: transform 0.2s;
}

.ba-float-label__checkbox {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .ba-float-label__checkbox {
    text-align: right;
    display: none;
    margin: 0;
  }
}

.ba-column-order-1 {
  .ba-float-label-2 {
    margin-top: 55px;
    color: rgba(0, 0, 0, 0.87);
  }
  span {
    display: block;
    text-align: right;
    color: rgba(0, 0, 0, 0.87);
  }
}
