<footer class="ba-footer">
    <div class="row">
		<div class="column small-6 medium-6 large-3 ba-footer__col-1">
			<a href="https://mail.google.com/" aria-label="email">petshostel@gmail.com</a>
			<a href="https://mail.google.com/" aria-label="hotel-email">hotel@gmail.com</a>
		</div>
		<!-- /.column -->
		<div class="column small-6 medium-4 large-6 ba-footer__col-2">
			<a href="index.html" aria-label="logo" >
				<img class="ba-footer-logotext" src="assets/img/logo.svg" alt="logo">
			</a>
		</div>
		<!-- /.column -->
		<div class="column small-6 medium-6 large-3 ba-footer__col-3">
			<a href="tel:+380953332216" aria-label="phone">+38 (095) 333 22 16</a>
			<div class="ba-footer-socials">
				<a href="https://twitter.com/" target="_blank" aria-label="twitter">
					<svg width="16" height="14"> 
						<use xlink:href="#icon-twitter"/>
					</svg>
				</a>
				<a href="https://www.linkedin.com/" target="_blank" aria-label="linkedin">
					<svg width="16" height="16"> 
						<use xlink:href="#icon-linkedin"/>
					</svg>
				</a>
				<a href="https://www.google.com/" target="_blank" aria-label="google">
					<svg width="14" height="14"> 
						<use xlink:href="#icon-google"/>
					</svg>
				</a>
			</div>
			<!-- /.ba-social -->
		</div>
		<!-- /.column -->
    </div>
    <!-- /.row -->
</footer>
<!-- /.ba-footer -->