<header class="ba-header">

	<div class="row ba-header-row align-justify align-middle">
		<div class="column small-6 large-3 ba-logo">

			<button class="menu-icon ba-menu-toggle white hide-for-large" type="button" ></button>			
				<nav class="ba-toggle-nav">
					<button class="ba-close-button" type="button" data-close>							
						<span aria-hidden="true">&times;</span>
					</button>			
					 <ul class="menu vertical">
						<li><a href="index.html" aria-label="Головна">Головна</a></li>
						<li><a href="order-service.html" aria-label="Замовити послугу">Замовити послугу</a></li>
						<li><a href="reviews.html" aria-label="Відгуки">Відгуки</a></li>
						<li><a href="gallery.html" aria-label="Наші фото">Наші фото</a></li>
				  </ul>
				</nav>

			<a href="index.html" aria-label="logo-top">
				<img src="assets/img/logo.svg" alt="logo">
			</a>
		</div>
		<div class="small-2 column large-9 align-middle">
			<div class="row align-right">
				<nav class="ba-nav">
					<ul class="menu ba-nav-menu simple show-for-large">
						<li class="ba-menu-item {{#ifpage 'index'}}page-active{{/ifpage}}"><a href="index.html" aria-label="Головна">Головна</a></li>
						<li class="ba-menu-item {{#ifpage 'order-service'}}page-active{{/ifpage}}"><a href="order-service.html" aria-label="Замовити послугу">Замовити послугу</a></li>
						<li class="ba-menu-item {{#ifpage 'reviews'}}page-active{{/ifpage}}"><a href="reviews.html" aria-label="Відгуки">Відгуки</a></li>
						<li class="ba-menu-item {{#ifpage 'gallery'}}page-active{{/ifpage}}"><a href="gallery.html" aria-label="Наші фото">Наші фото</a></li>
					</ul>
				</nav>
				<!-- /.ba-nav -->
				<div class="ba-my-profile">
					<a href="my-profile.html" aria-label="my-profile">
						<img src="{{root}}assets/img/user.svg" alt="User">
					</a>
				</div>
			</div>
		</div>
		<!-- /.column -->
	</div>
	<!-- /.row -->
</header>